@page
@model AzurePasswordManager.Pages.ConfigModel
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
@{
    ViewData["Title"] = "Configuration";
}

<h1>Configuration</h1>

<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <label asp-for="ConnectionString.IotHubService" class="control-label"></label>
        <input asp-for="ConnectionString.IotHubService"
               value="@Model.ConnectionString.IotHubService" />
        <span asp-validation-for="ConnectionString.IotHubService"></span>
    </div>
    <div>
        <label asp-for="ConnectionString.AzureSphereDevice" class="control-label"></label>
        <input asp-for="ConnectionString.AzureSphereDevice"
               value="@Model.ConnectionString.AzureSphereDevice" />
        <span asp-validation-for="ConnectionString.AzureSphereDevice"></span>
    </div>
    <input type="submit" />
</form>
<h3>@ViewData["confirmation"]</h3>
