@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row" id="content">
    <div class="col-lg-6">
        <button class="btn btn-success float-right" id="new">Add New</button>
        <h3>All Items</h3>
        <ul id="item-list" class="list-group list-group-flush"></ul>
    </div>
    <div class="col-lg-6">
        <div id="details"></div>
        <div id="form" style="max-width: 280px;">
            <form class="form-horizontal">
                <input type="hidden" asp-for="Item.Id" />

                <div class="form-group">
                    <label asp-for="Item.Name"></label>
                    <input type="text" asp-for="Item.Name" class="form-control input-sm" />
                    <small class="form-text text-muted"><span asp-validation-for="Item.Name"></span></small>
                </div>

                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" asp-for="Item.Username" class="form-control input-sm" />
                    <small class="form-text text-muted"><span asp-validation-for="Item.Username"></span></small>
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="text" asp-for="Item.Password" class="form-control input-sm" />
                    <small class="form-text text-muted"><span asp-validation-for="Item.Password"></span></small>
                </div>

                <div class="form-group">
                    <label for="Url">Url</label>
                    <input type="text" asp-for="Item.Uri" class="form-control input-sm" />
                    <small class="form-text text-muted"><span asp-validation-for="Item.Uri"></span></small>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-danger float-left" id="btn-delete">Delete</button>
                    <button type="button" class="btn btn-primary float-right" id="save">Submit</button>
                    <button class="btn btn-outline-secondary float-right mr-1" id="cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        $(function () {

            var showBusyIndicator = function () {
                $('.loading').show();
            }

            var hideBusyIndicator = function () {
                $('.loading').hide();
            }

            // On item entry click
            $('#item-list').on('click', '.entry', function (e) {
                e.preventDefault();
                var id = $(this).attr('id');
                alert("CLICK " + id);
            });

            // On item Send click
            $('#item-list').on('click', '.send', function (e) {

                var cmd = $(this);

                var url = '/api/iot/send/' + cmd.data('id');

                var method = 'post';

                $.ajax({
                    type: method,
                    url: url,
                    data: "",
                    contentType: 'application/json'
                }).done(function () {
                    alert("sent");
                });
            });

            var loadItems = function () {
                showBusyIndicator();

                // Clear item list
                $('#item-list').empty();

                // Obtain items via API call
                $.get('/api/item').done(function (items) {
                    $.each(items, function (i, item) {
                        var itemPart = '<li class="list-group-item">' +
                            '<span class="entry" id="' + item.id + '"><h3>' + item.name + '</h3></span>' +
                            '<span class="send" data-id="' + item.id + '">Send</span>' +
                            '<button class="btn-sm btn-outline-primary float-right" id="btn-edit" data-id="' + item.id + '">Edit</button>' +
                        '</li>';
                        $('#item-list').append(itemPart);

                    });
                    hideBusyIndicator();
                });
            }

            var showForm = function () {
                $(':input').val('');
                $('#details').empty();
                $('#form').show();
            }

            var clearForm = function () {
                $('#details').empty();
                $(':input').val('');
                $('#form').hide();
            }

            $('#new').on('click', showForm);

            clearForm();
            loadItems();

            $('#item-list').on('click', '#btn-edit', function () {

                var cmd = $(this);

                $.get(`/api/item/${cmd.data('id')}`).done(function (item) {
                    showForm();
                    $('#Item_Id').val(item.id);
                    $('#Item_Name').val(item.name);
                    $('#Item_Username').val(item.username);
                    $('#Item_Password').val(item.password);
                    $('#Item_Uri').val(item.uri);
                });
            });


            $('#item-list').on('click', '.edit, .details', function () {

                var cmd = $(this);

                $.get(`/api/item/${cmd.data('id')}`).done(function (item) {
                    if (cmd.hasClass('details')) {
                        clearForm()
                        $('#details').empty().append(
                            '<h3>Details</h3>' +
                            '<strong>' + item.name + '</strong><br>' +
                            'Username:' + item.username + '<br>' +
                            'Password:' + item.password + '<br>' +
                            'Url:' + item.uri
                        );
                    } else {
                        showForm();
                        $('#Item_Id').val(item.id);
                        $('#Item_Name').val(item.name);
                        $('#Item_Username').val(item.username);
                        $('#Item_Password').val(item.password);
                        $('#Item_Uri').val(item.uri);
                    }
                });
            });

            // Item create/edit form -> Cancel
            $('#cancel').on('click', function (e) {
                e.preventDefault();
                clearForm();
            });

            // Item create/edit form -> Submit
            $('#save').on('click', function (e) {
                e.preventDefault();

                var $form = $('form');
                $form.valid();

                var url = '/api/item/';

                var method = 'post';

                if ($('#Item_Id').val() !== '') {
                    url += $('#Item_Id').val();
                    method = 'put';
                }

                var secretItem = {};

                $.each($(this).closest('form').serializeArray(), function () {
                    if (this.name !== 'Item.Id' || (this.name === 'Item.Id' && this.value !== '')) {
                        // Trim "Item." from the beginning
                        secretItem[this.name.substring(5)] = this.value || '';
                    }
                });

                $.ajax({
                    type: method,
                    url: url,
                    data: JSON.stringify(secretItem),
                    contentType: 'application/json'
                }).done(function () {
                    clearForm();
                    loadItems();
                });
            });

            // Item edit form -> Delete
            $('#btn-delete').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'delete',
                    url: '/api/item/' + $('#Item_Id').val(),
                }).done(function () {
                    clearForm();
                    loadItems();
                });

            });


            // Item delete
            $('#item-list').on('click', '.delete', function () {
                $.ajax({
                    type: 'delete',
                    url: '/api/item/' + $(this).data('id'),
                }).done(function () {
                    clearForm();
                    loadItems();
                });
            });
        });
    </script>
}