@using SpherePasswordManager.Models
@model List<Item>

<ul id="item-list" class="list-group list-group-flush">
    @foreach (var item in Model)
    {
    <li class="list-group-item">

        <div class="d-flex">
                <a href=""
                   class="p-2 flex-grow-1 text-dark text-decoration-none"
                   data-ajax="true"
                   data-ajax-url="/api/iot/send/@item.Id"
                   data-ajax-method="post"
                   data-ajax-complete="iot_post_completed"
                   data-ajax-loading="#iot-status">
                    <span class="entry h3 text-dark" id="@item.Id">@item.Name</span>
                </a>
            <div class="p-2 bd-highlight">
                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
            </div>
        </div>


    </li>
    }
</ul>
