@page
@model SpherePasswordManager.Pages.ConfigModel
@{
    ViewData["Title"] = "Config";
}

<h2 class="mb-5">Configuration</h2>

<div class="col-lg-6">
    <form method="post" class="w-75">

        <div class="form-group mb-3">
            <label class="font-weight-bold" asp-for="ConfigData.AzureSphereDevice"></label>
            <small class="form-text text-danger"><span asp-validation-for="ConfigData.AzureSphereDevice"></span></small>
            <input type="text" class="form-control" asp-for="ConfigData.AzureSphereDevice"
                   value="@Model.ConfigData.AzureSphereDevice" aria-describedby="sphereName" placeholder="Enter Azure Sphere Device Name" />
        </div>

        <div class="form-group mt-3">
            <label class="font-weight-bold" asp-for="ConfigData.IotHubService"></label>
            <small class="form-text text-danger"><span asp-validation-for="ConfigData.IotHubService"></span></small>
            <textarea class="form-control" asp-for="ConfigData.IotHubService" rows="5"
                      value="@Model.ConfigData.IotHubService"> placeholder="Enter IoT Hub SERVICE Connection String"</textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary float-right" id="submit">Submit</button>
            <a asp-page="./Index" class="btn btn-outline-secondary float-right mr-3">Cancel</a>

        </div>
    </form>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
    $(function () {

        var showLoadingIndicator = function () {
            $('.loading').show();
        }

        var hideLoadingIndicator = function () {
            $('.loading').hide();
        }
    });
    </script>
}
