@page "{handler?}/{id?}"
@model SpherePasswordManager.Pages.EditModel
@{
    ViewData["Title"] = "Item";
}

<div class="col-lg-6" id="form">
    <form asp-page-handler="submit" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label class="font-weight-bold" asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <small class="form-text text-danger"><span asp-validation-for="Name"></span></small>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" asp-for="Username"></label>
            <input type="text" asp-for="Username" class="form-control" />
            <small class="form-text text-danger"><span asp-validation-for="Username"></span></small>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" asp-for="Password"></label>
            <input type="text" asp-for="Password" class="form-control" />
            <small class="form-text text-danger"><span asp-validation-for="Password"></span></small>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" asp-for="Uri"></label>
            <input type="text" asp-for="Uri" class="form-control" />
            <small class="form-text text-danger"><span asp-validation-for="Uri"></span></small>
        </div>

        <div class="form-group">
            @{ var submit_btn_text = "Submit"; }
            @if (@Model.Id != 0)
            {
                <a asp-page-handler="Delete" asp-route-id="@Model.Id" class="btn btn-danger float-left">Delete</a>
                submit_btn_text = "Update";
            }

            <button class="btn btn-primary float-right">@submit_btn_text</button>
            <a asp-page="./Index" class="btn btn-outline-secondary float-right mr-3">Cancel</a>
        </div>
    </form>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}