@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-lg-6" id="content">
    <div id="items"></div>
</div>


@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {

            // Show loading indicator
            $('.loading').show();

            // Load item list
            $("#items").load("/index/ItemsLoader", function () {
                // Hide loading indicator
                $('.loading').hide();

                // Set click listener to list items
                $(".iot-link").on("click", function () {
                    // Erase status text from previous clicks
                    $(".iot-status-badge").text("");
                });
            });

            iot_post_completed = function (xhr) {
                var responseText = xhr.responseText;

                //$(".iot-status-badge").text("");

                if (responseText.search("ERROR") != -1) {
                    $(".iot-status-badge").attr("class", "iot-status-badge ml-3 badge badge-danger");
                }
                else {
                    $(".iot-status-badge").attr("class", "iot-status-badge ml-3 badge badge-success");
                }
            };

        });
    </script>
}
