@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row" id="content">
    <div id="items" class="col-lg-6"></div>
</div>

@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {

            // Load item list
            $('#items').load('/index/ItemsLoader');

            // On item entry click
                /*
            $('#item-list').on('click', '.entry', function (e) {
                e.preventDefault();
                var id = $(this).attr('id');
                alert("CLICK " + id);

                $.ajax({
                    type: 'post',
                    url: '/api/iot/send/' + id,
                    data: "",
                    contentType: 'application/json'
                }).done(function () {
                    alert("sent");
                });

            });
                */

        });
    </script>
}