@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="mb-5">All Items</h2>

<div class="col-lg-6" id="content">
    <div id="items"></div>
</div>


@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {

            // Show loading indicator
            $('.loading').show();

            // Load item list
            $("#items").load("/index/ItemsLoader", function () {
                // Hide loading indicator
                $('.loading').hide();
            });

            iot_post_completed = function (xhr) {
                var responseText = xhr.responseText;

                $("#iot-status-badge").text(responseText);

                if (responseText.search("ERROR") != -1) {
                    $("#iot-status-badge").attr("class", "ml-3 badge badge-danger");
                }
                else {
                    $("#iot-status-badge").attr("class", "ml-3 badge badge-success");
                }

            };

        });
    </script>
}
